
.top_input{
    width: 91%;
    height:0.88rem;
    background:rgba(244,244,244,1);
    opacity:1;
    border-radius:1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.45rem;
    margin:1.7rem 0.45rem 0;
  }

  .search{
    width: 100%;
    padding-left: 0.2rem;
    outline: none;
    border: none;
    height:0.88rem;
    font-size:0.4rem;
    font-family:Microsoft YaHei UI;
font-weight:400;
    background:rgba(244,244,244,1);
  }
  .search::-webkit-input-placeholder {
    font-size:0.27rem;
font-family:Microsoft YaHei UI;
font-weight:400;
color:rgba(102,102,102,1);
}
  .loupe{
    height: 0.48rem;
    padding-left: 0.7rem;
    border-left: 0.05rem solid rgba(204,204,204,0.3882352941176471);;
  }
  .loupe_image{
    width:0.5rem;
    height:0.5rem;
  }
  .saixuan{
      margin: 0.32rem 0.45rem 0rem;
      padding-bottom: .2rem;
      display: flex;
      justify-content: space-between;
      border-bottom: 0.01rem solid #f4f4f4;
      position: relative;
  }
  .saixuan_item{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .saixuan_item div{
    max-width: 1.3rem;
    height: 0.3rem;
    overflow: hidden;
    font-size:0.32rem;
    font-family:Microsoft YaHei UI;
    font-weight:400;
    color:rgba(60,60,60,1);
    margin-right: 0.2rem !important;

  }
  .sx_wz{
    top: 0.5rem;
    position: absolute;
    background:rgba(255,255,255,1);
    width: 100%;
    height: 8rem;
  }
  .sx_wz_title{
    display: flex;
    height: 0.7rem;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    display: flex;
    align-items: center;
  }
  .sx_wz_title div:nth-child(1){
    font-size:0.32rem;
font-family:Microsoft YaHei UI;
color:rgba(252,117,1,1);
  }
  .sx_wz_title div:nth-child(2){
    font-size:0.32rem;
font-family:Microsoft YaHei UI;
font-weight:400;
color:rgba(60,60,60,1);
  }
  .sx_wz_item{
    display: flex;
    width: 100%;
  }
  .sx_wz_l{
    width: 40%;
    height:7rem;
    overflow-y: auto;
  }
  .sx_wz_l::-webkit-scrollbar{width:0;height:1px}
  .sx_wz_l div{
    padding-left: 0.35rem;
    display: flex;
    align-items: center;
    height: 0.7rem;
    font-size:0.27rem;
  font-family:Microsoft YaHei UI;
  font-weight:400;
  color:rgba(51,51,51,1);
  }
  .sx_wz_l_active{
    background: #f4f4f4;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  .sx_wz_r{
    width:60%;
    background: #f4f4f4;
    height:7rem;
    overflow-y: auto;
  }
  .sx_wz_r::-webkit-scrollbar{width:0;height:1px}
  .sx_wz_r div{
    display: flex;
    align-items: center;
    padding-left: 0.3rem;
    height: 0.7rem;
    font-size:0.27rem;
    font-family:Microsoft YaHei UI;
    font-weight:400;
    color:rgba(51,51,51,1);
  }
.sx_fl{
    top: 0.5rem;
    position: absolute;
    background:rgba(255,255,255,1);
    width: 100%;
    height: 8rem;
    display: flex;
}
.sx_fl_l{
  width: 25%;
  height:7.7rem;
  overflow-y: auto;
}
.sx_fl_l::-webkit-scrollbar{width:0;height:1px}
.sx_fl_l div{
  display: flex;
  align-items: center;
  padding-left: 0.35rem;
  height: 0.7rem;
  font-size:0.27rem;
  font-family:Microsoft YaHei UI;
  font-weight:400;
  color:rgba(51,51,51,1);
}
.sx_fl_l_active{
  background: #f4f4f4;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.sx_fl_r{
  padding: 0rem 0rem 0.3rem 0rem;
  width: 75%;
  max-height:7.7rem;
  align-content:flex-start;
  overflow-y: auto;
  background: #f4f4f4;
  display: flex;
  flex-wrap: wrap;
}
.sx_fl_r::-webkit-scrollbar{width:0;height:1px}
.sx_fl_r div{
  margin-left: 0.2rem;
  margin-top: 0.2rem;
  width:2rem;
height:0.75rem;
background:rgba(255,252,252,1);
border-radius: 0.2rem;
font-size:0.27rem;
font-family:Microsoft YaHei UI;
color:rgba(60,60,60,1);
display: flex;
justify-content: center;
align-items: center;
}
.sx_px{
  top: 0.5rem;
    position: absolute;
    background:rgba(255,255,255,1);
    width: 100%;
    height: 8rem;
    padding-top: 0.3rem;
}
.sx_px div{
  height: 0.8rem;
  font-size:0.27rem;
  font-family:Microsoft YaHei UI;
  font-weight:400;
  color:rgba(102,102,102,1);
}
.sx_px_active{
  color: #fbe23f !important;
}
.sx_sx{
  top: 0.5rem;
    position: absolute;
    background:rgba(255,255,255,1);
    width: 100%;
    height: 8rem;
}
.sx_sx_item{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0.5rem;
  border-bottom: 0.01rem solid #f4f4f4;
}
.sx_sx_item div{
  margin-right: 0.27rem;
  margin-top: 0.2rem;
  font-size:0.27rem;
  font-family:Microsoft YaHei UI;
  font-weight:400;
  color:rgba(60,60,60,1);
  width:2rem;
  height:0.75rem; 
  border:0.01rem solid rgba(244,244,244,1);
  /* border-radius: 0.01rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.nl_active{
  background: #fff2b3;
}
.sx_sx_bottom{
  margin-top: 0.5rem;
  display: flex;
  font-size:0.37rem;
font-family:Microsoft YaHei UI;
font-weight:400;
color:rgba(51,51,51,1);
width: 100%;
justify-content: space-between;
}
.sx_sx_bottom div:nth-child(1){
  width:3.6rem;
height:0.91rem;
background:rgba(244,244,244,1);
display: flex;
justify-content: center;
align-items: center;
border-radius: 0.2rem;
}
.sx_sx_bottom div:nth-child(2){
  width:3.6rem;
height:0.91rem;
background:rgba(252,218,1,1);
display: flex;
justify-content: center;
align-items: center;
border-radius: 0.2rem;
}
  .saixuan_item img{
    width:0.11rem;
    height:0.11rem;
  }
  .cnxh_item{
    margin-top: 0.27rem;
    display: flex;
    padding-left: 0.54rem;
  }
  .cnxh_item_img{
    width:2.51rem;
    height:2.51rem;
    border-radius: 0.2rem;
  }
  .js_logo{
    border-radius: 50%;
  }
  .cnxh_item_right{
    width: 6rem;
    height:2.51rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.32rem 0;
    border-bottom: 0.02rem solid #F4F4F4;
    margin-left: 0.27rem;
  }
  .cnxh_item_right_1{
    display: flex;
    align-items: center;
  }
  .cnxh_item_right_1 img{
    width:0.59rem;
    height:0.27rem;
    vertical-align:middle;
    margin-left: 0.2rem;
  }
  .cnxh_item_right_1 div{
    font-size:0.4rem;
    font-family:Microsoft YaHei UI;
    font-weight:bold;
    color:rgba(51,51,51,1);
    vertical-align:middle;
    max-width:4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

  }
  .cnxh_item_right_2{
    display: flex;
  }
  .cnxh_item_right_2 img{
    width:0.32rem;
    height:0.31rem;
    margin-right: 0.03rem;
  }
  .cnxh_item_right_3{
    display: flex;
    justify-content: space-between;
    font-size:0.32rem;
    font-family:Microsoft YaHei UI;
    font-weight:400;
    color:rgba(51,51,51,1);
  }
  .cnxh_item_right_3_l{
    display: flex;
  }
  .cnxh_item_right_3_l div:nth-child(2){
    margin-left: 0.4rem;
  }