.js_top{
  height: 4.29rem;
  background:rgba(251,226,63,1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}
.js_top img{
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}
.js_top div:nth-child(2){
  margin-top: 0.35rem;
  font-size:0.32rem;
font-family:Microsoft YaHei UI;
font-weight:bold;
color:rgba(51,51,51,1);
}
.js_top div:nth-child(3){
  margin-top: 0.35rem;
  font-size:0.21rem;
font-family:Microsoft YaHei UI;
font-weight:400;
color:rgba(51,51,51,1);
}
.jsjj{
  width: 90%;
  background:rgba(255,255,255,1);
  box-shadow:0rem 0rem 1rem rgba(0,0,0,0.07);
  opacity:1;
  border-radius:0.3rem;
  margin: -2.7rem auto 0;
  padding: 0.29rem 0.4rem 0.37rem ;
  z-index: 999;
}
.jsjj_title{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.27rem;
}
.jsjj_title_l{
  font-size:0.27rem;
font-family:Microsoft YaHei UI;
font-weight:bold;
color:rgba(51,51,51,1);
}
.jsjj_title_r{
  display: flex;
}
.jsjj_title_r div{
  font-size:0.21rem;
font-family:Microsoft YaHei UI;
font-weight:400;
color:rgba(51,51,51,1);
}
.jsjj_title_r img{
  margin-left: 0.2rem;
  width:0.16rem;
  height:0.27rem;
}
.jsjj_item{
  display: flex;
  align-items: center;
  margin-bottom: 0.13rem;
}
.jsjj_item img{
  width:0.11rem;
height:0.11rem;
  
}
.jsjj_item div{
  margin-left: 0.2rem;
  font-size:0.27rem;
font-family:Microsoft YaHei UI;
font-weight:400;
color:rgba(51,51,51,1);
}
.last_jsjj{
  margin-bottom: 0rem !important;
}
.jsjj_yy{
  height: 1.73rem;
  background:rgba(244,244,244,1);
}
.szsh{
  margin-top: 0.32rem;
  padding: 0.32rem 0.4rem 0.29rem;
  border-bottom: 0.1rem solid #f4f4f4;
}
.szsh_title{
  font-size:0.37rem;
font-family:Microsoft YaHei UI;
font-weight:bold;
color:rgba(51,51,51,1);
}
.szsh_item{
  margin-top: 0.29rem;
  display: flex;
}
.szsh_item_img{
  width:2.03rem;
height:2.03rem;
border-radius:0.3rem;
}
.szsh_item_r{
  padding: 0.3rem 0;
  height:2.03rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.5rem;
}
.szsh_item_r_1{
  display: flex;
  font-size:0.32rem;
font-family:Microsoft YaHei UI;
font-weight:bold;
color:rgba(51,51,51,1);
}
.szsh_item_r_1 img{
  margin-left: 0.2rem;
  width:0.59rem;
  height:0.27rem;
}
.szsh_item_r_2{
  display: flex;
line-height:0.31rem;

}
.szsh_item_r_2 img{
  width:0.32rem;
height:0.31rem;
}
.szsh_item_r_3{
  display: flex;
  justify-content: space-between;
  font-size:0.27rem;
font-family:Microsoft YaHei UI;
font-weight:400;
color:rgba(51,51,51,1);
}

.tskc{
  margin-top: 0.32rem;
  padding: 0 0.37rem 0.2rem;
  border-bottom: 0.1rem solid #f4f4f4;
}
.tskc_top{
  display: flex;
}
.tskc_top img{
  width:0.29rem;
  height:0.27rem;
}
.tskc_top div{
  font-size:0.37rem;
  font-family:Microsoft YaHei UI;
  font-weight:bold;
  color:rgba(51,51,51,1);
}
.tskc_item{
  margin-top: 0.27rem;
  display: flex;
}
.tskc_item_logo {
  width:1.33rem;
  height:1.33rem;
  border-radius: 0.3rem;
}
.tskc_item_right{
  width: 80%;
  margin-left: 0.53rem;
  display: flex;
  flex-direction:column ;
  justify-content: space-between;
}
.tskc_item_name{
  font-size:0.32rem;
font-family:Microsoft YaHei UI;
font-weight:bold;
color:rgba(51,51,51,1);
}
.tskc_item_pf{
  display: flex;
  line-height: 0.32rem;
}
.tskc_item_pf img{
  width:0.32rem;
height:0.31rem;
}
.tskc_item_rc{
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.13rem;
  border-bottom:0.01rem solid rgba(244,244,244,1);
}
.tskc_item_rc div:nth-child(1){
  font-size:0.21rem;
font-family:Microsoft YaHei UI;
font-weight:400;
color:rgba(102,102,102,1);
}
.tskc_item_je{
  display: flex;
}
.tskc_item_je div:nth-child(1){
  font-size:0.21rem;
font-family:Microsoft YaHei UI;
font-weight:bold;
}
.tskc_item_je div:nth-child(2){
  font-size:0.35rem;
font-family:Microsoft YaHei UI;
font-weight:bold;
}

.wydp{
  padding: 0.32rem 0.35rem 0.32rem;
  border-bottom: 0.1rem solid #f4f4f4;
}
.wydp_title{
  display: flex;
  justify-content: space-between;
}
.wydp_title div{
  font-size:0.37rem;
  font-family:Microsoft YaHei UI;
  font-weight:bold;
  color:rgba(51,51,51,1);
}
.wydp_title img{
  width:0.1rem;
height:0.2rem;
}
.wydp_item{
  display: flex;
  margin-top: 0.32rem;
  padding-bottom: 0.2rem;
  border-bottom: 0.02rem solid #f4f4f4;
}
.wydp_item_left{
  width:1.55rem;
height:1.55rem;
border-radius: 50%;

}
.wydp_item_right{
  margin-left: 0.24rem;
  margin-top: 0.37rem;
}
.wydp_item_right_item{
  display: flex;
  justify-content: space-between;
}
.wydp_item_right_name{
  font-size:0.32rem;
font-family:Microsoft YaHei UI;
font-weight:bold;
color:rgba(51,51,51,1);
}
.wydp_item_right_pf{
  display: flex;
  line-height:0.31rem;
}
.wydp_item_right_pf img{
  width:0.32rem;
  height:0.31rem;
}
.wydp_item_right_sj{
  margin-top: 0.25rem;
  font-size:0.27rem;
font-family:Microsoft YaHei UI;
font-weight:400;
color:rgba(153,153,153,1);
}
.wydp_item_right_value{
  margin-top: 0.24rem;
  font-size:0.27rem;
  line-height:0.35rem;
font-family:Microsoft YaHei UI;
font-weight:400;
color:rgba(51,51,51,1);
}
.wydp_item_right_ptup{
  margin-top: 0.24rem;
  display: flex;
  justify-content: space-between;
}
.wydp_item_right_ptup img{
  width:1.55rem;
height:1.55rem;
border-radius: 0.2rem;
}

.shxx{
  padding: 0.32rem 0.35rem 0.32rem;
  border-bottom: 0.1rem solid #f4f4f4;
}
.shxx_title{
  font-size:0.32rem;
font-family:Microsoft YaHei UI;
font-weight:bold;
color:rgba(51,51,51,1);
}
.shxx_item{
  margin-top: 0.29rem;
  display: flex;
  align-items: center;
}
.shxx_item img{
  width: 0.53rem;
  height: 0.53rem;
}
.shxx_item div {
  margin-left: 0.29rem;
  font-size:0.32rem;
font-family:Microsoft YaHei UI;
font-weight:400;
color:rgba(51,51,51,1);
}
.jg_bottom{
  position: fixed;
  bottom: 0;
  left: 0;
  height:1.39rem;
  display: flex;
  width: 100%;
  background:rgba(255,255,255,1);
}
.jg_b_l{
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgba(255,255,255,1);
  box-shadow:0rem 0rem 0rem rgba(0,0,0,0.09);
border-radius:1rem 0rem 0rem 0rem;
}
.jg_b_l{
  width: 20%;
}
.jg_b_l_kf{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jg_b_l_kf img{
  width:0.54rem;
  height:0.48rem;
}
.jg_b_l_kf div{
  margin-top: 0.1rem;
  font-size:0.21rem;
font-family:Microsoft YaHei UI;
font-weight:400;
color:rgba(51,51,51,1);
}
.jg_b_r{
  width: 80%;
  display: flex;
}
.jg_b_r div:nth-child(1){
  width: 50%;
  background:rgba(255,226,7,1);
border-radius:0.5rem 0rem 0rem 0rem;
font-size:0.37rem;
font-family:Microsoft YaHei UI;
font-weight:bold;
color:rgba(51,51,51,1);
display: flex;
justify-content: center;
align-items: center;
}
.jg_b_r div:nth-child(2){
  width: 50%;
  background:rgba(252,117,1,1);
border-radius:0rem 0.5rem 0rem 0rem;
font-size:0.37rem;
font-family:Microsoft YaHei UI;
font-weight:bold;
  color:rgba(51,51,51,1);
  display: flex;
justify-content: center;
align-items: center;
}
.noscroll{
  height: 100%;
  overflow: hidden;
}
.zhezhao{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background:rgba(0,0,0,0.5);
  overflow: hidden;
}
.jsgd_jj{
  width: 90%;
  height: 8.5rem;
  box-shadow:0rem 0rem 1rem rgba(0,0,0,0.07);
  border-radius:0.2rem;
  margin: 55% auto;
  z-index: 999;
  background:rgba(255,255,255,1);
}
.jsgd_name{
  background:rgba(251,226,63,1);
  display: flex;
  flex-direction: column;
  align-items: center;
  height:1.7rem;
  border-top-left-radius:0.2rem;
  border-top-right-radius:0.2rem;
}
.jsgd_name div:nth-child(2){
  font-size:0.21rem;
font-family:Microsoft YaHei UI;
font-weight:400;
color:rgba(51,51,51,1) !important;
}
.jsgd_jj_item div:nth-child(1){
  padding: 0rem 0.4rem 0;
  margin-top: 0.53rem;
  font-size:0.37rem;
font-family:Microsoft YaHei UI;
font-weight:bold;
line-height:0.48rem;
color:rgba(51,51,51,1);
}
.jsgd_jj_item div:nth-child(2){
  padding: 0rem 0.4rem 0;
  margin-top: 0.24rem;
  font-size:0.27rem;
font-family:Microsoft YaHei UI;
font-weight:400;
line-height:0.35rem;
color:rgba(153,153,153,1);
}